<app-nav/>
<div class="body flex items-center justify-center">
    <div class="content bg-gray-50 w-11/12 h-5/6 mt-10 rounded-lg">
        <div class="flex flex-row justify-center w-full">
            <div class="user-data max-w-1/2 flex items-center pt-10 flex-col">
                <div class="w-full border-b-2 flex justify-center flex-col items-center">   
                    <div class="w-full rounded-lg flex flex-col items-center">
                        <img [src]="userImageUrl" alt="" class="rounded-full w-40">
                        <h1 class="text-gray-900 font-semibold text-4xl mt-5"> {{empresa.name}}</h1>
                    </div>
                    <div class="buttons">
                        <div class="w-full md:block md:w-auto pt-4">
                          <ul class="text-center font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                              <a [href]="isPhoneAccess ? '/enterprise-profile/' + empresa.phone : '/enterprise-profile'" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
                            </li>
                            <li>
                              <a [href]="isPhoneAccess ? '/enterprise-abaut-us/' + empresa.phone : '/enterprise-abaut-us'" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre nosotros</a>
                            </li>
                            <li>
                              <a [href]="isPhoneAccess ? '/my-publications/' + empresa.phone : '/my-publications'" class="home_button block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">
                                  {{ isPhoneAccess ? 'Ver Publicaciones' : 'Administrar publicaciones' }}
                              </a>
                          </li>

                          <li *ngIf="!isPhoneAccess">
                              <a href="/postulantes" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Ver postulantes</a>
                          </li>

                          <li *ngIf="!isPhoneAccess">
                              <a href="/edit-enterprise-profile"  class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Editar perfil</a>
                          </li>

                          </ul>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center">
                  <section class="title">
                      <h1>{{empresa.name}}</h1>
                      <h2>Publicaciones</h2>
                  </section>
                  <div>
                      <button *ngIf="!isPhoneAccess" (click)="modalAnadir()" class="flex flex-row p-4 bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-100 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800 text-md font-medium">
                          <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                          </svg>
                          Añadir</button>
                  </div>
              </div>


          <div class="mt-10 w-full flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
            <div class="w-full md:w-1/2">
              <form class="flex items-center" (submit)="searchPublications()">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input type="text" id="simple-search" [(ngModel)]="searchParams.search" name="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Buscar por título, salario o nombre de empresa" required>
                </div>
              </form>
            </div>
            <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
              <div class="flex items-center space-x-3 w-full md:w-auto">
                <select [(ngModel)]="searchParams.location" name="location" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                  <option value="">Departamento</option>
                  <option value="Artigas">Artigas</option>
                  <option value="Canelones">Canelones</option>
                  <option value="Cerro Largo">Cerro Largo</option>
                  <option value="Colonia">Colonia</option>
                  <option value="Durazno">Durazno</option>
                  <option value="Flores">Flores</option>
                  <option value="Florida">Florida</option>
                  <option value="Lavalleja">Lavalleja</option>
                  <option value="Maldonado">Maldonado</option>
                  <option value="Montevideo">Montevideo</option>
                  <option value="Paysandú">Paysandú</option>
                  <option value="Río Negro">Río Negro</option>
                  <option value="Rivera">Rivera</option>
                  <option value="Rocha">Rocha</option>
                  <option value="Salto">Salto</option>
                  <option value="San José">San José</option>
                  <option value="Soriano">Soriano</option>
                  <option value="Tacuarembó">Tacuarembó</option>
                  <option value="Treinta y Tres">Treinta y Tres</option>
                </select>
                <select [(ngModel)]="searchParams.etiqueta" name="etiqueta" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                  <option value="">Etiqueta</option>
                  <option value="Backend Developer">Backend Developer</option>
                  <option value="Frontend Designer">Frontend Designer</option>
                  <option value="Cybersecurity">Cybersecurity</option>
                  <option value="Data Scientist">Data Scientist</option>
                  <option value="DevOps Engineer">DevOps Engineer</option>
                  <option value="Full Stack Developer">Full Stack Developer</option>
                  <option value="Machine Learning Engineer">Machine Learning Engineer</option>
                  <option value="Mobile Developer">Mobile Developer</option>
                  <option value="Network Administrator">Network Administrator</option>
                  <option value="Product Manager">Product Manager</option>
                  <option value="QA Engineer">QA Engineer</option>
                  <option value="Software Architect">Software Architect</option>
                  <option value="System Administrator">System Administrator</option>
                  <option value="UI/UX Designer">UI/UX Designer</option>
                  <option value="Licensed Driver">Licensed Driver</option>
                </select>
                <label class="flex items-center">
                  <input type="checkbox" [(ngModel)]="searchParams.featured" name="featured" class="form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out">
                  <span class="ml-2 text-gray-700">Destacado</span>
                </label>
                <label class="flex items-center">
                  <input type="checkbox" [(ngModel)]="searchParams.is_deleted" name="is_deleted" class="form-checkbox h-4 w-4 text-primary-600 transition duration-150 ease-in-out">
                  <span class="ml-2 text-gray-700">Eliminado</span>
                </label>
                <button (click)="searchPublications()" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                  </svg>
                  Buscar
                </button>
              </div>
            </div>
          </div>
          
        <div id="top" class="main_container p-6 space-y-4 md:space-y-6 sm:p-8">


        <section class="sectionContainer">
            <div class="sectionIn">

        <!-- Mensaje cuando no hay publicaciones -->
        <div *ngIf="noPublicationsMessage" class="text-gray-500 text-center mt-4">
        {{ noPublicationsMessage }}
        </div>


        <!--CARD-->
        <div *ngFor="let publicacion of displayedPublications" class="flex flex-col justify-center items-center pt-10">
          <div class="w-1/3 flex justify-between items-center">
            <button *ngIf="!isPhoneAccess" (click)="modalDelete()" class="p-2 bg-red-600 hover:bg-red-700 rounded-lg">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
              </svg>                                  
            </button>
            <button *ngIf="!isPhoneAccess" (click)="modalModificar(publicacion)" class="p-2 bg-amber-500 hover:bg-amber-600 rounded-lg">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <div class="card my-3.5 max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a [href]="'/publication/' + publicacion.id">
              <div class="image-container">
                <img class="rounded-t-lg size" src="../../../../assets/img/trabajoProgramación.jpg" alt="" draggable="false" />
              </div>
            </a>
            <div class="p-5">
              <a [href]="'/publication/' + publicacion.id">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{{ publicacion.title }}</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ publicacion.description }}</p>
              <div class="price-rating mb-3">
                <span class="price">${{ publicacion.salary }}</span>
                <div class="rating">
                  <div class="flex items-center gap-1">
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <a [href]="'/publication/' + publicacion.id" class="button-color inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Mas info
                      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
                

                </div>
            </section>
    
          </div>
    
          <div class="prev-next mt-16 mb-16 flex flex-col items-center">
            <div class="inline-flex mt-2 xs:mt-0">
            <!-- Botones de Paginación -->
            <button (click)="prevPage()" class="button flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
                Prev
            </button>
            <div class="span">
                <span class=" text-sm text-gray-700 dark:text-gray-400">
                    Mostrando <span class="font-semibold text-gray-900 dark:text-white">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>-<span class="font-semibold text-gray-900 dark:text-white">{{ currentPage * itemsPerPage < publicaciones.length ? currentPage * itemsPerPage : publicaciones.length }}</span> de <span class="font-semibold text-gray-900 dark:text-white">{{ publicaciones.length }}</span> publicaciones
                </span>
            </div>
            <button (click)="nextPage()" class="button flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
        </div>
    </div>
    </div>
</div>




<!-- Modal Delete -->
<div id="deleteModal" class="container-modal">
    <div class="relative">
      <!-- Modal content -->
      <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
        <button (click)="modalDeleteClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>      
          <span class="sr-only">Close modal</span>
        </button>
        
          <section class="bg-white dark:bg-gray-900 px-20" id="contact">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Eliminar publicación</h2>
                <p class="mb-8 lg:mb-16 font-light text-center text-black dark:text-gray-400 sm:text-xl">¿Está seguro que desea eliminar esta publicación?.</p>
                <div>
                    <button class="bg-red-600 text-white px-4 py-2 rounded-lg font-medium"> Si, eliminar</button>
                    <button (click)="modalDeleteClose()" class="bg-white text-gray-900 px-4 py-2 rounded-lg font-medium">No, cancelar</button>
                </div>
            </div>
            
        </section>
        
      </div>
    </div>
  </div>










<!-- Modal Modificar -->
<div id="modificarModal" class="container-modal">
  <div class="relative">
    <!-- Modal content -->
    <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <button (click)="modalModificarClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>      
        <span class="sr-only">Close modal</span>
      </button>
      
        <section class="bg-white dark:bg-gray-900 px-20" id="contact">
          <div class="py-2 lg:py-2 px-4 mx-auto max-w-screen-lg">
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Editar publicación</h2>

              <section class="bg-white dark:bg-gray-900 antialiased">
              <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
              <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
                  <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                  
                  <div id="default-carousel" class="mb-16 mx-auto relative">
                      <!-- Carousel wrapper -->
          
          
                      <div class="carousel-item duration-700 ease-in-out hover:cursor-pointer">
                        <img src="../../../../assets/img/img-standard.jpg" class="img2" alt="...">
                      </div>
                      <!-- Slider controls -->
                      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                          </svg>
                          <span class="sr-only">Previous</span>
                      </span>
                      </button>
                      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                          </svg>
                          <span class="sr-only">Next</span>
                      </span>
                      </button>
                  </div>
                  
                  </div>
          
                  <div class="mt-6 sm:mt-8 lg:mt-0">
                    <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Nombre</h2>
                      <input type="text" class="rounded-lg w-full" placeholder="Nombre de la publicación" [(ngModel)]="newPublication.title">
                    </div>
                    

                    <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Remuneración</h2>
                      <input class="rounded-lg w-full" type="number" placeholder="Remuneración del puesto" [(ngModel)]="newPublication.salary">
                    </div>

                    <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2>Plazas</h2>
                      <input type="number" class="rounded-lg w-full" placeholder="Plazas disponibles" [(ngModel)]="newPublication.vacancies">
                    </div>
            
                    <hr class="my-4 md:my-4 border-gray-200 dark:border-gray-800" />
            
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="w-full block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..." [(ngModel)]="newPublication.description"></textarea>
            
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="w-full block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Segunda descripción..." [(ngModel)]="newPublication.description2"></textarea>

                  </div>
              </div>

              <div class="mt-2 w-2/5 flex flex-row justify-between items-center">
                <button class="bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded text-md font-base">Añadir imágen</button>
                <button class="bg-red-700 hover:bg-red-600 text-white py-2 px-4 rounded text-md font-base">Eliminar imágen</button>
              </div>

              <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 pt-4">
                <div>
                  <div class="w-full flex flex-row justify-between">
                    <div class="w-full flex flex-col items-start mx-2">
                      <div class="w-full flex flex-row items-center my-2">
                        <label class="mr-1 font-medium text-gray-800" for="">Ubicación</label>
                        <select class="w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" name="" id="" [(ngModel)]="newPublication.location">
                          <option value="Artigas">Artigas</option>
                          <option value="Canelones">Canelones</option>
                          <option value="Cerro Largo">Cerro Largo</option>
                          <option value="Colonia">Colonia</option>
                          <option value="Durazno">Durazno</option>
                          <option value="Flores">Flores</option>
                          <option value="Florida">Florida</option>
                          <option value="Lavalleja">Lavalleja</option>
                          <option value="Maldonado">Maldonado</option>
                          <option value="Montevideo">Montevideo</option>
                          <option value="Paysandú">Paysandú</option>
                          <option value="Río Negro">Río Negro</option>
                          <option value="Rivera">Rivera</option>
                          <option value="Rocha">Rocha</option>
                          <option value="Salto">Salto</option>
                          <option value="San José">San José</option>
                          <option value="Soriano">Soriano</option>
                          <option value="Tacuarembó">Tacuarembó</option>
                          <option value="Treinta y Tres">Treinta y Tres</option>
                        </select>                            
                      </div>
                      <div class="w-full flex flex-row items-center my-2">
                        <label class="mr-1 font-medium text-gray-800" for="">Tiempo</label>
                        <select class="w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" name="" id="" [(ngModel)]="newPublication.type">
                          <option value="Part-time">Part-time</option>
                          <option value="Full-time">Full-time</option>
                        </select>                            
                      </div>
                    </div>
                    <div class="w-full flex flex-col">
                      <div class="flex flex-row items-center my-2">
                        <label class="mr-1 font-medium text-gray-800" for="">Entrada</label>
                        <div  class="relative">
                          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                            </svg>
                          </div>
                          <input
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="YYYY/MM/DD" [(ngModel)]="startDate">
                        </div>
                      </div>
                      <div class="flex flex-row items-center my-2">
                        <label class="mr-1 font-medium text-gray-800" for="">Salida</label>
                        <div  class="relative">
                          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                            </svg>
                          </div>
                          <input
                            class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="YYYY/MM/DD" [(ngModel)]="endDate">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class=" w-full block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..." [(ngModel)]="newPublication.description"></textarea>
                </div>
            </div>

                  <div class="flex flex-row justify-evenly items-center mt-6">
                    
                    <div class="w-full flex flex-row justify-evenly items-center">
                        <button (click)="modalModificarClose()" class="flex flex-row bg-white hover:bg-gray-200 py-3 px-6 rounded text-lg font-medium">Cancelar
                          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                          </svg>                          
                        </button>
                        <button (click)="updatePartial(newPublication.id, newPublication)" class="flex flex-row bg-amber-500 hover:bg-amber-600 text-white py-3 px-6 rounded text-lg font-medium">Editar publicación
                          <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Z"/>
                            <path fill-rule="evenodd" d="M11 7V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm4.707 5.707a1 1 0 0 0-1.414-1.414L11 14.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                          </svg>                          
                        </button>
                    </div>
                  </div>
                  

                  </div>

              </section>

              </div>
              
          </section>
      
    </div>
  </div>
</div>



    <!-- Modal Añadir -->
    <div id="añadirModal" class="container-modal">
      <div class="relative">
    <!-- Modal content -->
    <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-2">
      <button (click)="modalAnadirClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>      
        <span class="sr-only">Close modal</span>
      </button>
      
        <section class="bg-white dark:bg-gray-900 px-20" id="contact">
          <div class="py-2 lg:py-2 px-4 mx-auto max-w-screen-lg">
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Añadir publicación</h2>

              <section class="bg-white dark:bg-gray-900 antialiased">
              <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
                
              <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
                  <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                  
                  <div id="default-carousel" class="mb-16 mx-auto relative">
                      <!-- Carousel wrapper -->
          
          
                      <div class="carousel-item duration-700 ease-in-out hover:cursor-pointer">
                        <img src="../../../../assets/img/img-standard.jpg" class="img2" alt="...">
                      </div>
                      <!-- Slider controls -->
                      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                          </svg>
                          <span class="sr-only">Previous</span>
                      </span>
                      </button>
                      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                          </svg>
                          <span class="sr-only">Next</span>
                      </span>
                      </button>
                  </div>
                  
                  </div>
          
                  <div class="mt-6 sm:mt-8 lg:mt-0">
                    <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Nombre</h2>
                      <input type="text" class="rounded-lg w-full" placeholder="Nombre de la publicación" [(ngModel)]="newPublication.title">
                    </div>
                    

                    <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Remuneración</h2>
                      <input class="rounded-lg w-full" type="number" placeholder="Remuneración del puesto" [(ngModel)]="newPublication.salary">
                    </div>

                    <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2>Plazas</h2>
                      <input type="number" class="rounded-lg w-full" placeholder="Plazas disponibles" [(ngModel)]="newPublication.vacancies">
                    </div>
            
                    <hr class="my-4 md:my-4 border-gray-200 dark:border-gray-800" />
            
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="w-full block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..." [(ngModel)]="newPublication.description"></textarea>
            
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="w-full block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Segunda descripción..." [(ngModel)]="newPublication.description2"></textarea>

                  </div>
              </div>
              <div class="mt-2 w-2/5 flex flex-row justify-between items-center">
                <button class="bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded text-md font-base">Añadir imágen</button>
                <button class="bg-red-700 hover:bg-red-600 text-white py-2 px-4 rounded text-md font-base">Eliminar imágen</button>
              </div>

                  <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 pt-4">
                      <div>
                        <div class="w-full flex flex-row justify-between">
                          <div class="w-full flex flex-col items-start mx-2">
                            <div class="w-full flex flex-row items-center my-2">
                              <label class="mr-1 font-medium text-gray-800" for="">Ubicación</label>
                              <select class="w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" name="" id="" [(ngModel)]="newPublication.location">
                                <option value="Artigas">Artigas</option>
                                <option value="Canelones">Canelones</option>
                                <option value="Cerro Largo">Cerro Largo</option>
                                <option value="Colonia">Colonia</option>
                                <option value="Durazno">Durazno</option>
                                <option value="Flores">Flores</option>
                                <option value="Florida">Florida</option>
                                <option value="Lavalleja">Lavalleja</option>
                                <option value="Maldonado">Maldonado</option>
                                <option value="Montevideo">Montevideo</option>
                                <option value="Paysandú">Paysandú</option>
                                <option value="Río Negro">Río Negro</option>
                                <option value="Rivera">Rivera</option>
                                <option value="Rocha">Rocha</option>
                                <option value="Salto">Salto</option>
                                <option value="San José">San José</option>
                                <option value="Soriano">Soriano</option>
                                <option value="Tacuarembó">Tacuarembó</option>
                                <option value="Treinta y Tres">Treinta y Tres</option>
                              </select>                            
                            </div>
                            <div class="w-full flex flex-row items-center my-2">
                              <label class="mr-1 font-medium text-gray-800" for="">Tiempo</label>
                              <select class="w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" name="" id="" [(ngModel)]="newPublication.type">
                                <option value="Part-time">Part-time</option>
                                <option value="Full-time">Full-time</option>
                              </select>                            
                            </div>
                          </div>
                          <div class="w-full flex flex-col">
                            <div class="w-full flex flex-row items-center my-2">
                              <label class="mr-1 font-medium text-gray-800" for="">Tipo</label>
                              <select class="w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" name="" id="" [(ngModel)]="newPublication.saldo_id">
                                <option *ngFor="let saldo of saldos" [value]="saldo.saldo_id">{{ saldo.type }} - {{ saldo.days }} días - {{ saldo.quantity }} disponibles</option>
                              </select>                        
                            </div>
                            <div class="flex flex-row items-center my-2">
                              <label class="mr-1 font-medium text-gray-800" for="">Entrada</label>
                              <div  class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                  </svg>
                                </div>
                                <input
                                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="YYYY/MM/DD" [(ngModel)]="startDate">
                              </div>
                            </div>
                            <div class="flex flex-row items-center my-2">
                              <label class="mr-1 font-medium text-gray-800" for="">Salida</label>
                              <div  class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                  </svg>
                                </div>
                                <input
                                  class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="YYYY/MM/DD" [(ngModel)]="endDate">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                          <textarea id="message" name="message" ngModel rows="6" maxlength="280" class=" w-full block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..." [(ngModel)]="newPublication.description"></textarea>
                      </div>
                  </div>

                  <div class="flex flex-row justify-evenly items-center mt-6">
                    
                    <div class="w-full flex flex-row justify-evenly items-center">
                        <button (click)="modalAnadirClose()" class="flex flex-row bg-white hover:bg-gray-200 py-3 px-6 rounded text-lg font-medium">Cancelar
                          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                          </svg>                          
                        </button>
                        <button (click)="createPublication()" class="flex flex-row bg-green-500 hover:bg-green-600 text-white py-3 px-6 rounded text-lg font-medium">Añadir publicación
                          <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Z"/>
                            <path fill-rule="evenodd" d="M11 7V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm4.707 5.707a1 1 0 0 0-1.414-1.414L11 14.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                          </svg>                          
                        </button>
                    </div>
                  </div>
                  

                  </div>

              </section>

              </div>
              
          </section>
      
    </div>
  </div>
</div>