<app-nav/>
<div class="body flex items-center justify-center">
    <div class="content bg-gray-50 w-11/12 h-5/6 mt-10 rounded-lg">
        <div class="flex flex-row justify-center w-full">
            <div class="user-data max-w-1/2 flex items-center pt-10 flex-col">
                <div class="w-full border-b-2 flex justify-center flex-col items-center">   
                    <div class="w-full rounded-lg flex flex-col items-center">
                        <img src="../../../../assets/img/Fish_wearing_a_chicken_smoking_a_cigarette_cover.webp" alt="" class="rounded-full w-40">
                        <h1 class="text-gray-900 font-semibold text-4xl mt-5"> {{empresa.name}}</h1>
                    </div>
                    <div class="buttons">
                        <div class="w-full md:block md:w-auto pt-4">
                          <ul class="text-center font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                              <a [href]="isPhoneAccess ? '/enterprise-profile/' + empresa.phone : '/enterprise-profile'" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
                            </li>
                            <li>
                              <a [href]="isPhoneAccess ? '/enterprise-abaut-us/' + empresa.phone : '/enterprise-abaut-us'" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre nosotros</a>
                            </li>
                            <li>
                              <a [href]="isPhoneAccess ? '/my-publications/' + empresa.phone : '/my-publications'" class="home_button block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">
                                  {{ isPhoneAccess ? 'Ver Publicaciones' : 'Administrar publicaciones' }}
                              </a>
                          </li>

                          <li *ngIf="!isPhoneAccess">
                              <a href="/postulantes" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Ver postulantes</a>
                          </li>

                          <li *ngIf="!isPhoneAccess">
                              <a href="/edit-enterprise-profile"  class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Editar perfil</a>
                          </li>

                          </ul>
                        </div>
                    </div>
                </div>
        <div id="top" class="main_container p-6 space-y-4 md:space-y-6 sm:p-8">
      
            <div class="flex flex-col items-center justify-center">
                <section class="title">
                    <h1>{{empresa.name}}</h1>
                    <h2>Publicaciones</h2>
                </section>
                <div>
                    <button *ngIf="!isPhoneAccess" (click)="modalAnadir()" class="flex flex-row p-4 bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-100 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800 text-md font-medium">
                        <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                        </svg>
                        Añadir</button>
                </div>
            </div>
            
            <section class="sectionContainer">
                <div class="sectionIn">



        <!--CARD-->
        <div *ngFor="let publicacion of displayedPublications" class="flex flex-col justify-center items-center pt-10">
          <div class="w-1/3 flex justify-between items-center">
            <button *ngIf="!isPhoneAccess" (click)="modalDelete()" class="p-2 bg-red-600 hover:bg-red-700 rounded-lg">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
              </svg>                                  
            </button>
            <button *ngIf="!isPhoneAccess" (click)="modalModificar()" class="p-2 bg-amber-500 hover:bg-amber-600 rounded-lg">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <div class="card my-3.5 max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a [href]="'/publication/' + publicacion.id">
              <div class="image-container">
                <img class="rounded-t-lg size" src="../../../../assets/img/trabajoProgramación.jpg" alt="" draggable="false" />
              </div>
            </a>
            <div class="p-5">
              <a [href]="'/publication/' + publicacion.id">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{{ publicacion.title }}</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ publicacion.description }}</p>
              <div class="price-rating mb-3">
                <span class="price">${{ publicacion.salary }}</span>
                <div class="rating">
                  <div class="flex items-center gap-1">
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300 star-icon"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <a [href]="'/publication/' + publicacion.id" class="button-color inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Mas info
                      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
          </div>
      </div>
                

                </div>
            </section>
    
          </div>
    
          <div class="prev-next mt-16 mb-16 flex flex-col items-center">
            <div class="inline-flex mt-2 xs:mt-0">
            <!-- Botones de Paginación -->
            <button (click)="prevPage()" class="button flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
                Prev
            </button>
            <div class="span">
                <span class=" text-sm text-gray-700 dark:text-gray-400">
                    Mostrando <span class="font-semibold text-gray-900 dark:text-white">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>-<span class="font-semibold text-gray-900 dark:text-white">{{ currentPage * itemsPerPage < publicaciones.length ? currentPage * itemsPerPage : publicaciones.length }}</span> de <span class="font-semibold text-gray-900 dark:text-white">{{ publicaciones.length }}</span> publicaciones
                </span>
            </div>
            <button (click)="nextPage()" class="button flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </button>
        </div>
    </div>
    </div>
</div>




<!-- Modal Delete -->
<div id="deleteModal" class="container-modal">
    <div class="relative">
      <!-- Modal content -->
      <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
        <button (click)="modalDeleteClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>      
          <span class="sr-only">Close modal</span>
        </button>
        
          <section class="bg-white dark:bg-gray-900 px-20" id="contact">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Eliminar publicación</h2>
                <p class="mb-8 lg:mb-16 font-light text-center text-black dark:text-gray-400 sm:text-xl">¿Está seguro que desea eliminar esta publicación?.</p>
                <div>
                    <button class="bg-red-600 text-white px-4 py-2 rounded-lg font-medium"> Si, eliminar</button>
                    <button (click)="modalDeleteClose()" class="bg-white text-gray-900 px-4 py-2 rounded-lg font-medium">No, cancelar</button>
                </div>
            </div>
            
        </section>
        
      </div>
    </div>
  </div>





<!-- Modal Modificar -->
<div id="modificarModal" class="container-modal">
    <div class="relative">
      <!-- Modal content -->
      <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
        <button (click)="modalModificarClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>      
          <span class="sr-only">Close modal</span>
        </button>
        
          <section class="bg-white dark:bg-gray-900 px-20" id="contact">
            <div class="py-2 lg:py-2 px-4 mx-auto max-w-screen-md">
                <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Editar publicaión</h2>

                <section class="bg-white dark:bg-gray-900 antialiased">
                <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
                <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
                    <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                    
                    <div id="default-carousel" class="mb-16 mx-auto relative">
                        <!-- Carousel wrapper -->
            
            
                        <div class="carousel-item duration-700 ease-in-out hover:cursor-pointer">
                          <img src="../../../../assets/img/img-standard.jpg" class="img2" alt="...">
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                            </svg>
                            <span class="sr-only">Previous</span>
                        </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="sr-only">Next</span>
                        </span>
                        </button>
                    </div>
                    
                    </div>
            
                    <div class="mt-6 sm:mt-8 lg:mt-0">
                      <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                        <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Nombre</h2>
                        <input type="text" class="rounded-lg w-full" placeholder="Nombre de la publicación">
                      </div>
                      

                      <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                        <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Remuneración</h2>
                        <input class="rounded-lg w-full" type="number" placeholder="Remuneración del puesto">
                      </div>

                      <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                        <h2>Plazas</h2>
                        <input type="number" class="rounded-lg w-full" placeholder="Plazas disponibles">
                      </div>
              
                      <hr class="my-4 md:my-4 border-gray-200 dark:border-gray-800" />
              
                      <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>
              
                      <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>

                    </div>
                </div>

                    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 pt-8">
                        <div class="">
                            <textarea id="message" name="message" ngModel rows="6" maxlength="280" class=" description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>
                        </div>
                        <div>
                            <textarea id="message" name="message" ngModel rows="6" maxlength="280" class=" description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>
                        </div>
                    </div>

                    <div class="flex flex-row justify-between items-center mt-6">
                      <button class="bg-white hover:bg-gray-200 py-2 px-4 rounded text-lg font-medium">Cancelar</button>
                      <button class="bg-amber-500 hover:bg-amber-600 text-white py-2 px-4 rounded text-lg font-medium">Editar</button>
                    </div>

                    </div>

                </section>

                </div>
                
            </section>
        
      </div>
    </div>
  </div>




<!-- Modal Añadir -->
<div id="añadirModal" class="container-modal">
  <div class="relative">
    <!-- Modal content -->
    <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <button (click)="modalAnadirClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>      
        <span class="sr-only">Close modal</span>
      </button>
      
        <section class="bg-white dark:bg-gray-900 px-20" id="contact">
          <div class="py-2 lg:py-2 px-4 mx-auto max-w-screen-md">
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Añadir publicaión</h2>

              <section class="bg-white dark:bg-gray-900 antialiased">
              <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
              <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
                  <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                  
                  <div id="default-carousel" class="mb-16 mx-auto relative">
                      <!-- Carousel wrapper -->
          
          
                      <div class="carousel-item duration-700 ease-in-out hover:cursor-pointer">
                        <img src="../../../../assets/img/img-standard.jpg" class="img2" alt="...">
                      </div>
                      <!-- Slider controls -->
                      <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                          </svg>
                          <span class="sr-only">Previous</span>
                      </span>
                      </button>
                      <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-not-allowed group focus:outline-none">
                      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400/50 dark:bg-gray-800/30 group-hover:bg-gray-900 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                          </svg>
                          <span class="sr-only">Next</span>
                      </span>
                      </button>
                  </div>
                  
                  </div>
          
                  <div class="mt-6 sm:mt-8 lg:mt-0">
                    <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Nombre</h2>
                      <input type="text" class="rounded-lg w-full" placeholder="Nombre de la publicación">
                    </div>
                    

                    <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2 class="text-md font-medium text-gray-900 sm:text-md dark:text-white">Remuneración</h2>
                      <input class="rounded-lg w-full" type="number" placeholder="Remuneración del puesto">
                    </div>

                    <div class="flex flex-row mt-4 sm:items-center sm:gap-4 sm:flex">
                      <h2>Plazas</h2>
                      <input type="number" class="rounded-lg w-full" placeholder="Plazas disponibles">
                    </div>
            
                    <hr class="my-4 md:my-4 border-gray-200 dark:border-gray-800" />
            
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>
            
                    <textarea id="message" name="message" ngModel rows="6" maxlength="280" class="description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>

                  </div>
              </div>

                  <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 pt-8">
                      <div class="">
                          <textarea id="message" name="message" ngModel rows="6" maxlength="280" class=" description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>
                      </div>
                      <div>
                          <textarea id="message" name="message" ngModel rows="6" maxlength="280" class=" description block p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Primer descripción..."></textarea>
                      </div>
                  </div>

                  <div class="flex flex-row justify-between items-center mt-6">
                    <button class="bg-white hover:bg-gray-200 py-2 px-4 rounded text-lg font-medium">Cancelar</button>
                    <button class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded text-lg font-medium">Añadir</button>
                  </div>

                  </div>

              </section>

              </div>
              
          </section>
      
    </div>
  </div>
</div>