<div class="bg-white p-8 rounded-lg px-16">
    <h2 class="text-gray-500 mb-3 text-lg sm:mb-0 pb-1">Editar idiomas y habilidades:</h2>
    
    <!-- Sección de Idiomas -->
    <h3 class="text-gray-500 mt-6 mb-4">Idiomas:</h3>
    <div class="grid grid-cols-4 gap-2 mb-4" *ngFor="let idioma of idiomas; let i = index; let last = last">
      <div class="mt-2 grid grid-cols-2 gap-6 col-span-3">
        <div class="relative z-0 w-full mb-5 group">
          <label [for]="'idioma' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Idioma</label>
          <input [name]="'idioma' + i" [(ngModel)]="idioma.idioma" #idioma1="ngModel" maxlength="20"
          [id]="'idioma' + i" type="text" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Ingrese un idioma" required>
        <small *ngIf="idioma1.invalid && idioma1.touched" class="text-red-500">Inválido. Solo se permiten letras.</small>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <label [for]="'nivelIdioma' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nivel</label>
          <select [name]="'nivelIdioma' + i" [(ngModel)]="idioma.nivel" #nivelIdioma="ngModel"
            [id]="'nivelIdioma' + i" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="Nativo">Nativo</option>
            <option value="Avanzado">Avanzado</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Básico">Básico</option>
          </select>
        </div>
      </div>
      <div class="grid col-span-1 pt-8">
        <button (click)="removeIdioma(i)" type="button" *ngIf="idiomas.length > 1"
          class="hover:underline text-red-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Eliminar
        </button>

        <button (click)="addIdioma()" type="button" *ngIf="last"
          class="text-blue-500 hover:underline font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Agregar
        </button>
      </div>
    </div>

    <hr class="my-6">

    <!-- Sección de Habilidades -->
    <h4 class="text-gray-500 mt-10 mb-6">Habilidades:</h4>
    <div class="grid grid-cols-4 gap-2 mb-4" *ngFor="let habilidad of habilidades; let i = index; let last = last">
      <div class="grid grid-cols-2 gap-6 col-span-3">
        <div class="relative z-0 w-full mb-5 group">
          <label [for]="'habilidad' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Habilidad</label>
          <input [name]="'habilidad' + i" [(ngModel)]="habilidad.habilidad" #habilidad1="ngModel" maxlength="50"
          [id]="'habilidad' + i" type="text" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s]*$"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Ingrese una habilidad" required>
        <small *ngIf="habilidad1.invalid && habilidad1.touched" class="text-red-500">Inválido. Solo se permiten letras y números.</small>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <label [for]="'nivelHabilidad' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nivel</label>
          <select [name]="'nivelHabilidad' + i" [(ngModel)]="habilidad.nivel" #nivelHabilidad="ngModel"
            [id]="'nivelHabilidad' + i" class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="Experto">Experto</option>
            <option value="Avanzado">Avanzado</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Básico">Básico</option>
          </select>
        </div>
      </div>

      <div class="grid col-span-1 pt-8">
        <button (click)="removeHabilidad(i)" type="button" *ngIf="habilidades.length > 1"
          class="text-red-500 hover:underline font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Eliminar
        </button>
        <button (click)="addHabilidad()" type="button" *ngIf="last"
          class="text-blue-500 hover:underline font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Agregar
        </button>
      </div>
    </div>

    <hr class="mb-5">

    <!-- Botones de navegación -->
    <div class="grid grid-cols-2 w-full gap-6 mt-8">
        <button
          (click)="saveAndGoBack()"
          type="button"
          [disabled]="!isFormValid()"
          [ngClass]="{'bg-gray-300 text-gray-400 cursor-not-allowed': !isFormValid(), 'bg-green-600 hover:bg-green-700 text-white': isFormValid()}"
          class="focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
        >
          Guardar cambios
        </button>
        <button
          (click)="nextSection()"
          type="button"
          [disabled]="!isFormValid()"
          [ngClass]="{'bg-gray-300 text-gray-400 cursor-not-allowed': !isFormValid(), 'bg-blue-600 hover:bg-blue-700 text-white': isFormValid()}"
          class="focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center"
        >
          Siguiente →
        </button>
    </div>
</div>
