<app-nav/>
<div class="body flex items-center justify-center">
    <div class="content bg-gray-50 w-11/12 h-5/6 mt-10 rounded-lg">
        <div class="flex flex-row justify-center w-full">
            <div class="user-data max-w-1/2 flex items-center pt-10 flex-col">
                <div class="w-full border-b-2 flex justify-center flex-col items-center">   
                    <div class="w-full rounded-lg flex flex-col items-center">
                        <img [src]="userImageUrl" class="rounded-full w-40" (click)="onImageClick()" alt="" class="rounded-full w-40">
                        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" />
                        <h1 class="text-gray-900 font-semibold text-4xl mt-5">{{empresa.name}}</h1>
                        <br>
                    </div>
                    <div class="buttons">
                        <div class="w-full md:block md:w-auto pt-4">
                        <ul class="text-center font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                            <a href="/enterprise-profile" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
                            </li>
                            <li>
                            <a href="/enterprise-abaut-us" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre nosotros</a>
                            </li>
                            <li>
                                <a href="/my-publications" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Administrar publicaciones</a>
                            </li>
                            <li>
                                <a href="/postulantes" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Ver postulantes</a>
                            </li>
                            <li>
                                <a href="/edit-enterprise-profile" class="home_button block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Editar perfil</a>
                            </li>

                          </ul>
                        </div>
                    </div>
                </div>

                <h2 class="mt-12 text-3xl tracking-tight text-center font-semibold text-gray-900 dark:text-white">Información de la empresa</h2>
                <form (ngSubmit)="updateProfile()">

                <section class="borders pb-10 mt-10 flex flex-row justify-center w-full">
                    <div class="flex flex-col justify-start">
                      <div *ngIf="errorMessage" class="text-red-500 mb-4">
                        {{ errorMessage }}
                    </div>
                    <div class="flex flex-row items-center">
                        <label class="mx-2 font-medium text-gray-800" for="">Nombre</label>
                        <input type="text" [(ngModel)]="empresa.name" name="name" class="min-w-60 mb-2 w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Nombre">
                    </div>
                    <div class="flex flex-row items-center">
                        <label class="mx-2 font-medium text-gray-800" for="">Mail</label>
                        <input type="text" [(ngModel)]="empresa.email" name="email" class="min-w-60 mb-2 w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="example@pasantiasuy.com">
                    </div>
                    </div>
                    <div class="flex flex-col justify-start">
                    <div class="flex flex-row items-center">
                        <label class="mx-2 font-medium text-gray-800" for="">Sede</label>
                        <input type="text" [(ngModel)]="empresa.sede" name="sede" class="min-w-60 mb-2 w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Barrio, Departamento">
                    </div>
                    <div class="flex flex-row items-center">
                        <label class="mx-2 font-medium text-gray-800" for="">Telefono</label>
                        <input type="text" [(ngModel)]="empresa.phone" name="phone" class="min-w-60 mb-2 w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="094094093">
                    </div>
                    </div>
                </section>


                <section class="w-full borders">
                    <h2 class="mt-32 text-3xl tracking-tight text-center font-semibold text-gray-900 dark:text-white">Editar perfil</h2>
                
                    <section class="bg-gray-50 dark:bg-gray-900">
                        <div class="py-8 px-4 mx-auto min-w-screen-2xl lg:py-16 lg:px-6 flex items-center justify-center">
                        <div class="flex flex-col items-center min-w-screen-2xl text-gray-500 sm:text-lg dark:text-gray-400">
                            <input type="text" [(ngModel)]="desc1Title" name="desc1Title"  class="campo mb-2 text-center w-full text-xl p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Título principal">
                            <textarea [(ngModel)]="desc1Paragraph1" name="desc1Paragraph1" class="campo h my-2 text-start w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Descripción principal"></textarea>
                            <textarea [(ngModel)]="desc1Paragraph2" name="desc1Paragraph2" class="campo h mb-2 text-start w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Aclaraciones"></textarea>
                            <div class="flex justify-center">
                            <a class="cursor-not-allowed mx-auto mt-4 inline-flex items-center font-medium text button1 rounded-lg py-2 px-4 dark:text-primary-500 dark:hover:text-primary-700">
                                Ver publicaciones
                                <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                        </div>
                    </section>
                </section>




                <section class="body-nh2 cursores borders">
                    <section class="section1">
                        <i id="left" class="left fa-solid fa-angle-left" (click)="onArrowLeftClick($event)"></i>
                        <section id="carousel" class="carousel">

                            
                    <div *ngFor="let publicacion of publications" class="card my-3.5 max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a [href]="'/publication/' + publicacion.id">
                        <div class="image-container">
                            <img class="rounded-t-lg size" src="../../../../assets/img/trabajoProgramación.jpg" alt="" draggable="false" />
                        </div>
                        </a>
                        <div class="p-5">
                        <a [href]="'/publication/' + publicacion.id">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{{ publicacion.title }}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ publicacion.description }}</p>
                        <div class="price-rating mb-3">
                            <span class="price">${{ publicacion.salary }}</span>
                            <div class="rating">
                            <div class="flex items-center gap-1">
                                <svg
                                class="w-4 h-4 text-yellow-300 star-icon"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                >
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                                </svg>
                                <svg
                                class="w-4 h-4 text-yellow-300 star-icon"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                >
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                                </svg>
                                <svg
                                class="w-4 h-4 text-yellow-300 star-icon"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                >
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                                </svg>
                                <svg
                                class="w-4 h-4 text-yellow-300 star-icon"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                >
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                                </svg>
                                <svg
                                class="w-4 h-4 text-yellow-300 star-icon"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                >
                                <path
                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                                </svg>
                            </div>
                            </div>
                        </div>
                        <a [href]="'/publication/' + publicacion.id" class="button-color inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Mas info
                                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    

                
                        </section>
                        <i id="right" class="right fa-solid fa-angle-right" (click)="onArrowRightClick($event)"></i>
                    </section>
                </section>


                <div class="flex flex-row justify-center w-full pt-20 pb-16 my-20 borders">
                    <div class="flex flex-col w-full items-center">
                        <input [(ngModel)]="desc2Title" name="desc2Title" type="text" class="max-w-sm mb-2 text-center w-full text-xl p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Título secundario">
                        <div class="flex flex-col items-center justify-center w-full max-w-screen">
                            <textarea [(ngModel)]="desc2Paragraph1" name="desc2Paragraph1" class="my-2 text-gray-900 h-28 text-start w-4/6 text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Informacion sobre la empresa"></textarea>
                            <textarea [(ngModel)]="desc2Paragraph2" name="desc2Paragraph2" class="text-gray-900 h-28 text-start w-4/6 text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Otros datos sobre la empresa"></textarea>
                        </div>
                    </div>
                </div>
 

                <section class="borders my-40 bg-grey-50 dark:bg-gray-900 section-empresa">
                    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                    <div class="flex flex-col justify-center">
                        <img class="cursor-pointer w-full dark:hidden rounded-lg" [src]="empresaImageUrl" (click)="onEmpresaImageClick()" alt="Imagen de la empresa">
                        <input type="file" #fileInputEmpresa style="display: none;" (change)="onEmpresaFileSelected($event)" />
                        
                        <div class="flex flex-row justify-evenly items-center">
                        <button type="button" class="bg-green-700 hover:bg-green-600 mt-20 py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" (click)="onEmpresaImageClick()">
                            Reemplazar imagen
                        </button>
                        </div>
                    </div>
                        
                        <div class="mt-4 md:mt-0">
                            <input [(ngModel)]="desc3Title" name="desc3Title" type="text" class="max-w-sm mb-2 text-start w-full text-xl p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Título acercatívo">
                            <textarea [(ngModel)]="desc3Paragraph" name="desc3Paragraph" class="my-2 text-gray-900 h-28 text-start w-full text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Descripción justificatíva"></textarea>
                            <button class="cursor-not-allowed inline-flex items-center text-white button1 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm pl-2 text-center dark:focus:ring-primary-900">
                                <a class="inline-flex items-center font-medium text button1 rounded-lg py-2 px-4 dark:text-primary-500 dark:hover:text-primary-700">
                                    Ver publicaciones
                                    <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                </a>
                            </button>
                        </div>
                    </div>
                </section>




                <section class="my-40 pb-16 borders">
                    <h2 class="mt-20 text-3xl tracking-tight text-center font-semibold text-gray-900 dark:text-white">Editar "Sobre nosotros"</h2>

                    <div class="flex flex-row justify-center w-full pt-20 pb-2">
                        <div class="flex flex-col w-full items-center">
                            <input [(ngModel)]="aboutUsTitle" name="aboutUsTitle" type="text" class="max-w-sm mb-2 text-center w-full text-xl p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Sobre nosotros">
                            <div class="flex flex-col items-center justify-center w-full max-w-screen">
                                <textarea [(ngModel)]="aboutUsParagraph1" name="aboutUsParagraph1" class="my-2 text-gray-900 h-28 text-start w-4/6 text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Presentación de la empresa"></textarea>
                                <textarea [(ngModel)]="aboutUsParagraph2" name="aboutUsParagraph2" class="text-gray-900 h-28 text-start w-4/6 text-md p-2 border border-gray-300 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Aclaraciones sobre la empresa"></textarea>
                            </div>
                        </div>
                    </div>
                </section>



                <section class="mt-36">
                    <h3 class="mt-44 text-3xl tracking-tight text-center font-semibold text-gray-900 dark:text-white">Editar imágenes del slider (Sobre nosotros)</h3>
                    <div class="w-full mb-4 flex flex-row justify-evenly items-center">
                        <button type="button" class="bg-green-700 hover:bg-green-600 mt-20 py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" (click)="onMuroImageClick()">
                        Reemplazar imagen
                        </button>
                        <input type="file" #fileInputMuro style="display: none;" (change)="onMuroFileSelected($event)" />
                    </div>
                    
                    <!-- Imagen de muro -->
                    <div id="muro-image" class="mx-auto relative w-3/4 h-64">
                        <div class="img">
                        <img (click)="onMuroImageClick()" [src]="muroImageUrl" alt="Imagen del muro" class="w-full h-full object-cover rounded-lg">
                        </div>
                    </div>
                    

                    <div class="w-full flex justify-center items-center">
                        <button type="submit" class="button0 mt-20 py-3 px-4 text-lg font-medium text-center text-black rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Editar perfil
                        </button>
                    </div>
                </section>

            
            </form>
            </div>
        </div>
    </div>
</div>





