.body{
    background-image: url("../../../../assets/img/principalimage_edit2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    height: 85%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 7vh;
}
.user-data{
    max-width: 90%;
}
.cv{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    max-width: 40%;
}
.button{
    min-height: 15vh;
}
.buttons{
    min-width: 25%;
    margin-bottom: 5vh;
}
.home_button{
    color: #15c3c3;
}
.home_button2:hover{
    color: #15c3c3;
}
.button1:hover, .button1:hover * {
    color: #15c3c3;
}
.col2{
    min-width: 40%;
    display: flex;
    justify-content: start;
}
.description{
    min-width: 350px;
}
.readonly-input {
    color: #6b7280; /* Tono gris */
    background-color: #f9fafb; /* Fondo gris claro */
}
.container-modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000c2;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
}
.button2{
    background-color: #008fa8;
    color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.button2:hover{
    background-color: #15c3c3;
}
.relative {
    position: relative;
    display: inline-block;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.edit-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}




.alert-container2{
    position: fixed;
    width: 15vw;
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 100;
    top: 5px;
    left: 0;
    margin-inline: 42%;
  }

  .alert-container4{
    position: fixed;
    width: 19.5vw;
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 100;
    top: 5px;
    left: 0;
    margin-inline: 40.5%;
  }

  .alert-container5{
    position: fixed;
    width: 25vw;
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 100;
    top: 5px;
    left: 0;
    margin-inline: 38%;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  .cross{
    margin-left: -8px;
  }
  
  
  @keyframes slideDown {
    from {
      transform: translateY(-5%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-down {
    animation: slideDown 0.3s forwards;
  }
  .alerta{
    z-index: 100;
  }
  