<div class="body flex items-center justify-center">
  <div class="content bg-gray-50 w-11/12 h-5/6 mt-10 rounded-lg">
    <div class="flex flex-row justify-center w-full">
      <div class="user-data max-w-3/4 flex items-center pt-10 flex-col">
        <div class="flex flex-col items-center">
          <img
            src="../../../../assets/img/user.png"
            alt=""
            class="rounded-full w-40"
          />
          <h1 class="text-gray-900 font-semibold text-4xl mt-5">
            {{ data.name }}
          </h1>
          <h2 class="text-gray-500 text-lg">{{ data.location }}</h2>
        </div>
        <div class="buttons border-b-2 w-full flex justify-center">
          <div class="w-full md:block md:w-auto pt-4">
            <ul
              class="text-center font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
              <li>
                <a
                  href="/user-profile"
                  class="home_button block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                  aria-current="page"
                  >Inicio</a
                >
              </li>
              <li>
                <button
                  (click)="modal()"
                  class="home_button2 block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  aria-disabled="true"
                  >Contacto
                </button>
              </li>
              <li>
                <a
                  href="/user-postulations"
                  class="home_button2 block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Postulaciones</a
                >
              </li>
              <li>
                <a
                  href="/user-saves"
                  class="home_button2 block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Guardados</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="home_button2 block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Ver CV</a
                >
              </li>
              <li>
                <a
                  href="/edit-profile"
                  class="home_button2 block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >Editar perfil</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="flex flex-row justify-center max-w-6xl">
          <div class="flex flex-col">
            <div class="flex justify-between flex-row">
              <div class="flex flex-col justify-start">
                <div class=" flex flex-col">
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold"
                      >Nombre completo:</span
                    >
                    {{ data.name }}
                  </p>
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold"
                      >Fecha de nacimiento:</span
                    >
                    {{ data.fec_nacimiento }}
                  </p>
                </div>
                <div class="flex flex-col">
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold">Correo:</span>
                    {{ data.email }}
                  </p>
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold">Telefono:</span>
                    {{ data.phone }}
                  </p>
                </div>
              </div>
              <div class="flex flex-col justify-between col2">
                <div class="flex flex-col">
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold">Departamento:</span>
                    {{ data.location }}
                  </p>
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold"
                      >Puesto de trabajo:</span
                    >
                    agregar la funcion
                  </p>
                </div>
                <div class="flex flex-col">
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold"
                      >Identificación:</span
                    >
                    {{ data.ci_estudiante }}
                  </p>
                  <p class="text-gray-700 text-sm p-2 max-w-1/2">
                    <span class="text-gray-700 font-semibold"
                      >Código postal:</span
                    >
                    {{ data.cod_postal }}
                  </p>
                </div>
              </div>
            </div>
            <div class="flex justify-center items-center button">
              @if(data.cv){
              <button
                routerLink="/cv"
                type="button"
                class="flex flex-row items-center justify-between button1 text-gray-800 bg-gray-50 border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              >
                Editar currículum
                <svg
                  class="w-4 h-4 text-gray-800 dark:text-white ml-2"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.29289 3.70711L1 11V15H5L12.2929 7.70711L8.29289 3.70711Z"
                    fill="#000000"
                  />
                  <path
                    d="M9.70711 2.29289L13.7071 6.29289L15.1716 4.82843C15.702 4.29799 16 3.57857 16 2.82843C16 1.26633 14.7337 0 13.1716 0C12.4214 0 11.702 0.297995 11.1716 0.828428L9.70711 2.29289Z"
                    fill="#000000"
                  />
                </svg>
              </button>
              } @else {
              <button
                routerLink="/cv"
                type="button"
                class="flex flex-row items-center justify-between button1 text-gray-800 bg-gray-50 border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              >
                Crear currículum
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h14m-7 7V5"
                  />
                </svg>
              </button>
              }
            </div>
          </div>



          <div class="texto">
            <p class="text-gray-700 text-sm p-4 text-center max-w-1/2">
              {{ data.desc1 }}
            </p>
            <p class="text-gray-700 text-sm p-4 text-center max-w-1/2">
              {{ data.desc2 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="contactModal" class="container-modal">
  <div class="relative">
    <!-- Modal content -->
    <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <button (click)="modalClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>      
        <span class="sr-only">Close modal</span>
      </button>
      
        <section class="bg-white dark:bg-gray-900 px-20" id="contact">
          <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
              <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Contacto</h2>
              <p class="mb-8 lg:mb-16 font-light text-center text-black dark:text-gray-400 sm:text-xl">Contacta a la persona para coordinar reuniones, solicitar información, o cualquier necesidad.</p>
              <form class="space-y-8">
                  <div>
                      <label for="email" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">E-Mail</label>
                      <input type="email" id="email"  name="email" ngModel class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@pasantiasuy.com" required>
                  </div>
                  <div>
                      <label for="subject" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asunto</label>
                      <input type="text" id="subject"  name="subject" ngModel class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Asunto sobre tu consulta" required>
                  </div>
                  <div class="sm:col-span-2">
                      <label for="message" class="text-left block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Mensaje</label>
                      <textarea id="message"  name="message" ngModel rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Deja un comentario..."></textarea>
                  </div>
                  <button type="submit" class="button2 py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                      Enviar mensaje
                  </button>
              </form>
          </div>
      </section>
      
    </div>
  </div>
</div>