
.nav001{
/*    background-color: #000220; */
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    transition: 0.7s;
    z-index: 50;
}
.logotext{
    font-family: Arial, Helvetica, sans-serif;
}
.iniciosesion:hover{
    color : white;
    background-color: #15c3c3;
}
.registro{
    color: #000330;
    margin-left: 8px;
}
.registro:hover{
    background-color: #15c3c3;
    color: white;
}
.inicio{
    color: #90ecec;
}
.resto:hover{
    color: #90ecec;
}
nav.down{
    background-color: #000220c1;
}