<h2 class="text-gray-500 mb-2 sm:mb-0">experiencias:</h2>

<div *ngFor="let experiencia of Experiencias; let i = index; let last = last">
    <div class="grid md:grid-cols-2 md:gap-6 col-span-1">
        <!-- cambiar a select -->
        <div class="relative z-0 w-full mb-5 group">
            <input autocomplete="off" [(ngModel)]="experiencia.puesto" #puesto="ngModel" type="text"
                pattern="^[^\d]*$" [name]="'puesto' + i" [id]="'puesto' + i"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label [for]="'puesto' + i"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Puesto *
            </label>
            <small *ngIf="puesto.invalid && puesto.touched" class="text-red-500">
                inválido.</small>
        </div>

        <div class="relative z-0 w-full mb-5 group">
            <input autocomplete="off" type="text" pattern="^[^\d]*$" [name]="'empresa' + i"
                [id]="'empresa' + i" [(ngModel)]="experiencia.empresa" #empresa="ngModel"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label [for]="'empresa' + i"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa *

            </label>
            <small *ngIf="empresa.invalid && empresa.touched" class="text-red-500">inválido.</small>
        </div>
    </div>

    
        <div class="relative z-0 w-full mb-5 group">
            <input autocomplete="off" type="text" [name]="'referencias' + i"
                [id]="'referencias' + i" [(ngModel)]="experiencia.referencias" #referencias1="ngModel"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " />
            <label [for]="'referencias' + i"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Referencia *

            </label>
        </div>


    <div class="grid grid-cols-3 gap-2">
        <div id="date-range-picker" date-rangepicker class="flex items-center">
            <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                   <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                  </svg>
              </div>
              <input [(ngModel)]="experiencia.fecha_inicio" #inicio="ngModel"
              id="datepicker-range-start" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Inicio">
              <small *ngIf="inicio.invalid && inicio.touched" class="text-red-500">
                Inválido.</small>
                <div>
                    <input type="checkbox" [name]="'actualmente' + i" [id]="'actualmente' + i" [(ngModel)]="experiencia.actualmente">
                    <label [for]="'actualmente' + i" class="text-gray-500">En curso</label>
                </div>
            </div>
        </div>

        <span class="mx-4 text-gray-500">hasta</span>

        <div id="date-range-picker" date-rangepicker class="flex items-center">
            <div *ngIf="!experiencia.actualmente" class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                     <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <input [(ngModel)]="experiencia.fecha_fin" #fin="ngModel"
                id="datepicker-range-end" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Fin">
                <small *ngIf="fin.invalid && fin.touched" class="text-red-500">
                  inválido.</small>
              </div>
        </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <textarea autocomplete="off" type="text" pattern="^[^\d]*$" [name]="'descripcion' + i"
            [id]="'experienciaPhone' + i" [(ngModel)]="experiencia.descripcion" #descripcion="ngModel"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "></textarea>
        <label [for]="'descripcion' + i"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Descripción
        </label>
    </div>
    <div class="grid col-span-1">
        <button (click)="addExperiencia()" type="button"
            *ngIf="last && descripcion.value != '' && referencias1.value != '' && puesto.value != '' && descripcion.valid && experienciasReady == false && inicio.valid && experiencia.fecha_fin != ''"
            class="text-blue-500  font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Agregar
        </button>

        <button (click)="removeExperiencia(i)" type="button" *ngIf="Experiencias.length > 1"
            class="text-red-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Eliminar
        </button>
    </div>

    <button (click)="experienciasReadyCheck()" type="button" *ngIf="Experiencias.length >= 1 && experienciasReady == false"
        [disabled]="experiencia.empresa == '' || experiencia.puesto == '' || experiencia.referencias == '' || experiencia.fecha_inicio == '' || experiencia.descripcion == ''"
        class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Listo
    </button>

</div>

<button (click)="experienciaAdd()" type="button" *ngIf="experienciasReady == true"
    class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">agregar otro
</button>

<div class="grid grid-cols-2 w-full gap-6">
    <button (click)="back()" type="button"
        [ngClass]="experienciasReady == false ? 'bg-red-300' : 'bg-red-700 hover:bg-red-800'"
        [disabled]="experienciasReady == false"
        class="sm:mb-12 text-white float-left focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Atrás
    </button>

    @if(Experiencias[0].puesto != ''){
        <button (click)="next()" type="button"
        [ngClass]=" experienciasReady == false ? 'bg-blue-300' : 'bg-blue-700 hover:bg-blue-800'"
        [disabled]="experienciasReady == false"
        class="sm:mb-12 text-white float-right focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Siguiente</button>
    } @else {
        <button type="button" (click)="omit()" 
        class="sm:mb-12 text-white float-right focus:ring-4 focus:outline-none bg-blue-700 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Omitir</button>
    }
    
</div>