.body{
    background-image: url("../../../../assets/img/principalimage_edit2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    height: 85%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 7vh;
}
.buttons{
    min-width: 25%;
}
.home_button{
    color: #15c3c3;
}
.home_button2:hover{
    color: #15c3c3;
}
.filter_button:hover * {
    color: #15c3c3;
}
.filter_button:hover {
    color: #15c3c3;
}