.body{
    background-image: url("../../../../assets/img/principalimage_edit2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.content{
    height: 85%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 7vh;
}
.buttons{
    min-width: 25%;
}
.home_button{
    color: #15c3c3;
}
.home_button2:hover{
    color: #15c3c3;
}
.filter_button:hover * {
    color: #15c3c3;
}
.filter_button:hover {
    color: #15c3c3;
}
.container-modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000c2;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
}
.button2{
    background-color: #008fa8;
    color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.button2:hover{
    background-color: #15c3c3;
}