.body{
    background-image: url("../../../../../assets/img/principalimage_edit2.jpg");
    background-size: cover;
    background-position: center;
    height: 185vh;
}
.section1{
    margin-top: 12vh;
    height: 160vh;
    width: 75%;
}