<form>
  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      class="form-control"
      id="title"
      [(ngModel)]="publication.title"
      name="title"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea
      class="form-control"
      id="description"
      [(ngModel)]="publication.description"
      name="description"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="salary">Salario</label>
    <input
      type="number"
      class="form-control"
      id="salary"
      [(ngModel)]="publication.salary"
      name="salary"
      required
    />
  </div>
  <div class="form-group">
    <label for="location">Zona/Ubicación de la empresa</label>
    <input
      type="text"
      class="form-control"
      id="location"
      [(ngModel)]="publication.location"
      name="location"
      required
    />
  </div>

  <!-- 
    cambiar para un select (pasantia / puesto de trabajo ).
  -->
  <div class="form-group">
    <label for="type">Tipo de publicación</label>
    <input
      type="text"
      class="form-control"
      id="type"
      [(ngModel)]="publication.type"
      name="type"
      required
    />
  </div>

  <!-- 
    mostrar solo si el anterior es pasantias.
  -->
  <div class="form-group">
    <label for="type">Duración de la pasantía</label>
    <input
      type="text"
      class="form-control"
      id="time"
      [(ngModel)]="publication.time"
      name="time"
      required
    />
  </div>

  <div class="form-group">
    <label for="deathline">Fecha límite de publicación</label>
    <input
      type="text"
      class="form-control"
      id="deathline"
      [(ngModel)]="publication.deathline"
      name="deathline"
      required
    />
  </div>

  <input
    type="checkbox"
    name="postulation_link"
    (change)="postulationLink = !postulationLink"
  />

  @if(postulationLink){
  <div class="form-group">
    <label for="postulation">Forma de postulación</label>
    <input
      type="text"
      class="form-control"
      id="postulation"
      [(ngModel)]="publication.postulation_way"
      name="postulation"
      required
    />
  </div>
  }

  <div>
    <div *ngFor="let requeriment of publication.requeriments">
      <div class="form-group">
        <label for="Rtitle">Requisito</label>
        <input
          type="text"
          class="form-control"
          id="Rtitle"
          [(ngModel)]="requeriment.title"
          name="Rtitle"
          required
        />
      </div>
      <div class="form-group">
        <label for="Rlevel">Nivel</label>
        <input
          type="text"
          class="form-control"
          id="Rlevel"
          [(ngModel)]="requeriment.level"
          name="Rlevel"
          required
        />
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addRequeriment()">
      Agregar Requisito
    </button>
  </div>
</form>
