.body{
    background-image: url("../../../assets/img/principalimage_edit2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 105vh;
}
.content{
    height: 85%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 7vh;
}
.hover-enlarge {
    transition: transform 0.2s ease;
}
  
.hover-enlarge:hover {
    transform: scale(1.01);
}
.star-icon {
    transition: transform 0.3s ease;
}
.star-icon:hover {
    transform: scale(1.5);
    cursor: pointer;
}

#default-carousel {
  height: 100%;
  width: 100%;
}
.carousel-item {
  height: 100%;
  width: 100%;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.125rem;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.container-modal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000000c2;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
}
.button2{
  background-color: #008fa8;
  color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.button2:hover{
  background-color: #15c3c3;
}


.alert-container{
  position: fixed;
  width: 25vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 39%;
}
.alert-container2{
  position: fixed;
  width: 15vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 42%;
}

.alert-container3{
  position: fixed;
  width: 19.5vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 40.5%;
}

.alert-container4{
  position: fixed;
  width: 25vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 38%;
}
.alert-container5{
  position: fixed;
  width: 31vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 35%;
}
.alert-container6{
  position: fixed;
  width: 25vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 38%;
}
.alert-container7{
  position: fixed;
  width: 25vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 38%;
}
.alert-container8{
  position: fixed;
  width: 25vw;
  display: none;
  justify-content: center;
  align-items: start;
  z-index: 100;
  top: 5px;
  left: 0;
  margin-inline: 38%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}
.cross{
  margin-left: -8px;
}


@keyframes slideDown {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.3s forwards;
}
.alerta{
  z-index: 100;
}