

                <!-- cambiar todos los input por select -->

    <h3 class="text-gray-500">Idiomas:</h3>
    <div class="grid grid-cols-4 gap-2" *ngFor="let idioma of idiomas; let i = index; let last = last">
        <div class="grid grid-cols-2 gap-6 col-span-3">
            <div class="relative z-0 w-full mb-5 group">
                <input autocomplete="off" [(ngModel)]="idioma.idioma" #idioma1="ngModel" type="text"
                    pattern="^[^\d]*$" [name]="'idioma' + i" [id]="'idioma' + i"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " />
                <label [for]="'idioma' + i"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Idioma
                </label>
                <small *ngIf="idioma1.invalid && idioma1.touched" class="text-red-500">
                    inválido.</small>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                
                <label [for]="'nivel' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nivel`</label>
                    <select [name]="'nivel' + i"  [(ngModel)]="idioma.nivel" #nivel1="ngModel"
                    [id]="'nivel' + i"  class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="Nativo">Nativo</option>
                    <option value="Avanzado">Avanzado</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Básico">Básico</option>
                </select>
            </div>
        </div>
        <div class="grid col-span-1">
            <button (click)="addIdioma()" type="button"
                *ngIf="last && nivel1.value != '' && idioma1.value != '' &&  idiomasReady == false"
                class="text-blue-500  font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Agregar
            </button>

            <button (click)="removeIdioma(i)" type="button" *ngIf="idiomas.length > 1"
                class="text-red-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Eliminar
            </button>
        </div>
    </div>
    <button (click)="idiomasReadyCheck()" type="button" *ngIf="idiomas.length > 1 && idiomasReady == false"
        class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Listo
    </button>
    <button (click)="idiomasAdd()" type="button" *ngIf="idiomasReady == true"
        class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">agregar otro
    </button>

    <hr>

    <h4 class="h3 text-gray-500">Habilidades:</h4>
    <div class="grid grid-cols-4 gap-2"
        *ngFor="let habilidad of habilidades; let i = index; let last = last">
        <div class="grid grid-cols-2 gap-6 col-span-3">
            <div class="relative z-0 w-full mb-5 group">
                <input autocomplete="off" [(ngModel)]="habilidad.habilidad" #habilidad1="ngModel"
                    type="text" pattern="^[^\d]*$" [name]="'idioma' + i" [id]="'idioma' + i"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " />
                <label [for]="'habilidad' + i"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Habilidad
                </label>
                <small *ngIf="habilidad1.invalid && habilidad1.touched" class="text-red-500">
                    inválido.</small>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input autocomplete="off" type="text" [name]="'nivel' + i"
                    [id]="'nivel' + i" [(ngModel)]="habilidad.nivel"
                    #nivel1="ngModel"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " />
                <label [for]="'nivel' + i"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nivel

                </label>


            </div>
        </div>

        <div class="grid col-span-1">
            <button (click)="addHabilidad()" type="button"
                *ngIf="last && nivel1.value != '' &&  habilidad1.value != '' && habilidadesReady == false"
                class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Agregar
            </button>
            <button (click)="removeHabilidad(i)" type="button" *ngIf="habilidades.length > 1"
                class="text-red-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Eliminar
            </button>
        </div>
    </div>
    <button (click)="habilidadReadyCheck()" type="button"
        *ngIf="habilidades.length > 1 && habilidadesReady == false"
        class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Listo
    </button>
    <button (click)="habilidadAdd()" type="button" *ngIf="habilidadesReady == true"
        class="text-blue-500 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">agregar otro
    </button>
    <hr class="mb-5">

    <div class="grid grid-cols-2 w-full gap-6">
        <button (click)="back()" type="button"
            [ngClass]="idiomasReady == false || habilidadesReady == false ? 'bg-red-300' : 'bg-red-700 hover:bg-red-800'"
            [disabled]="idiomasReady == false || habilidadesReady == false"
            class="sm:mb-12 text-white float-left focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Atrás
        </button>

        <button (click)="next()" type="button"
            [ngClass]=" idiomasReady == false || habilidadesReady == false ? 'bg-blue-300' : 'bg-blue-700 hover:bg-blue-800'"
            [disabled]="idiomasReady == false || habilidadesReady == false"
            class="sm:mb-12 text-white float-right focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Siguiente</button>
    </div>
