<div class="flex justify-center m-5">
  <button
    (click)="createPublication = !createPublication"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    type="button"
  >
    Crear Publicación
  </button>
</div>

<div *ngIf="createPublication" class="flex justify-center m-5">
  <app-create-publication></app-create-publication>
</div>
