<body>
    <section class="section bg-white">
        <h1 class="title mb-4 text-4xl tracking-tight text-center font-extrabold text-back dark:text-white">Si necesitas trabajo, la mejor respuesta la encuentras en Pasantías UY!</h1>
        <p class="text font-normal text-black sm:text-lg dark:text-gray-400">Ofrecemos miles de trabajos orientado a lo que necesites.</p>
        <section class=" dark:bg-gray-900">
            <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-normal text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-black dark:text-white">Si quieres trabajo, nosotros te ofrecemos la mejor salida laboral</h2>
                    <p class="mb-4 text-black dark:text-white">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.</p>
                    <p class="text-black dark:text-white">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick.</p>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8 mb-4 md:mb-0">
                    <img class="w-full rounded-lg" src="../../../../assets/img/img-nosotros4.jpg" alt="office content 1">
                    <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../../../../assets/img/img-nosotros2.jpg" alt="office content 2">
                </div>
                <button type="button" class="button1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full md:w-44">Regístrate gratis</button>
            </div>
        </section>
    </section>
</body>