
    <section class="section bg-white">
        <h1 class="title mb-4 text-4xl tracking-tight text-center font-bold text-back dark:text-white">Si necesitas trabajo, la mejor respuesta la encuentras en Pasantías UY!</h1>
        <p class="text font-normal text-black sm:text-lg dark:text-gray-400">Ofrecemos miles de trabajos orientado a lo que necesites.</p>
        <section class=" dark:bg-gray-900">
            <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-normal text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-3xl tracking-tight font-bold text-black dark:text-white">Si quieres trabajo, nosotros te ofrecemos la mejor salida laboral</h2>
                    <p class="mb-4 text-black dark:text-white">Si estás buscando trabajo, te ofrecemos una opción práctica y eficiente. Nuestra plataforma cuenta con una interfaz intuitiva que facilita la búsqueda de empleo, permitiéndote acceder a diversas oportunidades de manera rápida y sencilla. Regístrate hoy mismo. Es momento de un rumbo diferente!</p>
                    <p class="text-black dark:text-white">Regístrate para poder hacer uso de todas las facilidades y encontrar en empleo adecuado a tu perfil.</p>
                </div>
                <!--a-->
                <div class="grid grid-cols-2 gap-4 mt-8 mb-4 md:mb-0">
                    <img class="w-full rounded-lg" src="../../../../assets/img/img-nosotros4.jpg" alt="office content 1">
                    <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../../../../assets/img/img-nosotros2.jpg" alt="office content 2">
                </div>
                <a href="/login" class="button1 py-2.5 px-4 rounded-lg hover:cursor-pointer text-lg font-medium w-full md:w-44 text-center">Regístrate gratis</a>
            </div>
        </section>
    </section>
