<app-nav/>
<div id="top" class="body flex items-center justify-center min-h-screen">
    <div class="content bg-gray-50 w-11/12 h-5/6 mt-10 rounded-lg">
        <div class="flex flex-row justify-center w-full">
            <div class="user-data max-w-1/2 flex items-center pt-10 flex-col">
                <div class="w-full border-b-2 flex justify-center flex-col items-center">   
                    <div class="w-full rounded-lg flex flex-col items-center">
                      <img [src]="userimage" alt="" class="rounded-full w-40">
                      <h1 class="text-gray-900 font-semibold text-4xl mt-5">{{data.name}}</h1>
                    </div>
                    <div class="buttons">
                        <div class="w-full md:block md:w-auto pt-4">
                          <ul class="text-center font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                              <a href="/admin-profile" class="home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
                            </li>
                            <li>
                              <a href="/admin-users" class="home_button block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Administrar usuarios</a>
                            </li>
                            <li>
                              <a href="/admin-categories" class="hover:cursor-pointer home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Administrar categorías</a>
                            </li>
                            <li>
                              <a href="/admin-publications" class="hover:cursor-pointer home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Administrar publicaciones</a>
                            </li>
                            <li>
                              <a href="/admin-solicitudes" class="hover:cursor-pointer home_button2 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Solicitudes de empresa</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
                
                
                

                <section class="bg-gray-50 dark:bg-gray-900 w-11/12 my-10">
                  
                  <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 ">
                    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                      <h2 class="text-xl text-center font-semibold text-gray-900 dark:text-white sm:text-2xl">Lista de usuarios</h2>
                  
                      <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
                        <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
                          <div class="space-y-6">



                    <!-- user card inicio -->
                    <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6" *ngFor="let user of displayedUsers">
                      <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
                        <a href="#" class="shrink-0 md:order-1">
                          <svg class="w-20 h-20 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                          </svg>
                        </a>
                        
                        <div class="flex items-center justify-between md:order-3 md:justify-end">
                          <div class="text-end md:order-4 md:w-32 flex flex-row items-center">
                            <p class="text-base font-medium"
                            [ngClass]="{
                              'text-green-800': user.rol === 'estudiante',
                              'text-blue-800': user.rol === 'empresa',
                              'text-red-800': user.rol === 'administrador'
                            }">
                            {{ user.rol }}
                          </p>
                          </div>
                        </div>
                        
                        <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                          <div>
                            <div class="flex flex-row">
                              <a href="#" class="text-base font-medium text-gray-900 hover:underline dark:text-white">{{ user.name }}</a>
                              <p class="mx-2 text-gray-600">{{ user.location }}</p>
                            </div>
                            <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">{{ user.email }}</p>
                          </div>
                          
                          <div class="flex items-center gap-4">
                            <button (click)="modalBan(user.id)" type="button" class="button-remove2 rounded p-2 inline-flex text-md font-medium" 
                            [ngClass]="user.is_suspended ? 'text-green-600 hover:text-white' : 'text-amber-600 hover:text-white'">
                            <svg class="w-6 h-6" [ngClass]="user.is_suspended ? 'text-green-600 dark:text-white' : 'text-amber-600 dark:text-white'" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path [attr.stroke]="user.is_suspended ? 'currentColor' : 'currentColor'" stroke-linecap="round" stroke-width="2" 
                                [attr.d]="user.is_suspended ? 'M5 13l4 4L19 7' : 'M6 18 17.94 6M18 18 6.06 6'" />
                            </svg>                                                                
                            {{ user.is_suspended ? 'Activar' : 'Suspender' }}
                          </button>
                            <button (click)="modalDelete(user.id)" type="button" class="button-remove rounded p-2 inline-flex text-md font-medium text-red-600 hover:text-white dark:text-red-500">
                              <svg class="w-6 h-6 text-red-600 hover:text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                              </svg>                          
                              Eliminar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- user card fin -->

                    <!-- Buttons -->
                    <div class="prev-next mt-16 mb-16 flex flex-col items-center">
                      <div class="inline-flex mt-2 xs:mt-0">
                        <button (click)="previousPage()" [disabled]="currentPage === 1" class="button flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                          </svg>
                          Prev
                        </button>
                        <div class="span">
                          <span class="text-sm text-gray-700 dark:text-gray-400">
                            Mostrando <span class="font-semibold text-gray-900 dark:text-white">{{ (currentPage - 1) * itemsPerPage + 1 }}</span>-<span class="font-semibold text-gray-900 dark:text-white">{{ getEndIndex() }}</span> de <span class="font-semibold text-gray-900 dark:text-white">{{ totalUsers }}</span> usuarios
                          </span>
                        </div>
                        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="button flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                          Next
                          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                          </svg>
                        </button>
                      </div>
                    </div>

            </div>
        </div>
    </div>
</div>



<!-- Modal Delete -->
<div id="deleteModal" class="container-modal">
  <div class="relative">
    <!-- Modal content -->
    <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <button (click)="modalDeleteClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>      
        <span class="sr-only">Close modal</span>
      </button>
      
      <section class="bg-white dark:bg-gray-900 px-20" id="contact">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
          <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">Eliminar usuario</h2>
          <p class="mb-8 lg:mb-16 font-light text-center text-black dark:text-gray-400 sm:text-xl">¿Está seguro que desea eliminar este usuario?</p>
          <div class="flex flex-row justify-evenly">
            <button (click)="deleteUser(selectedUserId)" class="bg-red-700 hover:bg-red-600 text-white px-4 py-2 rounded-lg font-medium"> Si, eliminar</button>
            <button (click)="modalDeleteClose()" class="bg-white hover:bg-gray-100 text-gray-900 px-4 py-2 rounded-lg font-medium">No, cancelar</button>
          </div>
        </div>
      </section>
      
    </div>
  </div>
</div>

<!-- Modal Ban -->
<div id="banModal" class="container-modal">
  <div class="relative">
    <!-- Modal content -->
    <div class="animate__animated animate__jackInTheBox animate__faster relative p-8 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
      <button (click)="modalBanClose()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="deleteModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>      
        <span class="sr-only">Close modal</span>
      </button>
      
      <section class="bg-white dark:bg-gray-900 px-20" id="contact">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
          <h2 class="mb-4 text-3xl tracking-tight font-bold text-center text-black dark:text-white">{{ selectedUser?.is_suspended ? 'Activar usuario' : 'Suspender usuario' }}</h2>
          <p class="mb-8 lg:mb-16 font-light text-center text-black dark:text-gray-400 sm:text-xl">¿Está seguro que desea {{ selectedUser?.is_suspended ? 'activar' : 'suspender' }} este usuario?</p>
          <div class="flex flex-row justify-evenly">
            <button (click)="deactivateUser(selectedUserId)" class="bg-amber-600 hover:bg-amber-500 text-white px-4 py-2 rounded-lg font-medium"> Si, {{ selectedUser?.is_suspended ? 'activar' : 'suspender' }}</button>
            <button (click)="modalBanClose()" class="bg-white hover:bg-gray-100 text-gray-900 px-4 py-2 rounded-lg font-medium">No, cancelar</button>
          </div>
        </div>
      </section>
      
    </div>
  </div>
</div>