<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="../../assets/img/logo.png" alt="logo">
            Pasantías Uy
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div
                    class="flex items-center font-bold justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Restablecer contraseña
                    </h1>
                    <a routerLink="/inicio" type="button"
                        class="mb-3 lg:ml-end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </a>
                </div>
                <form class="space-y-4 md:space-y-6" #loginForm="ngForm">
                    @if(showError){
                        <small class="text-red-500">
                            {{ status }}
                        </small>
                        }
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Su
                            email</label>
                        <input type="email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel"
                            [disabled]="loading || codeSend" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@company.com" required="">
                        <small *ngIf="email.invalid && email.touched && showError == false" class="text-red-500">
                            El email es invalido
                        </small>
                    </div>
                    @if(codeSend){
                    <div>
                        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código
                            de verificación</label>
                        <input type="text" name="code" id="code" [ngModel]="code" (ngModelChange)="chargeCode($event)"
                            #pwdCode="ngModel"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="123456" required="">
                    </div>

                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nueva
                            contraseña</label>
                        <input type="password" name="password" id="password" [(ngModel)]="user.password"
                            #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="********" required="">
                        <small *ngIf="password.invalid && password.touched" class="text-red-500">La contraseña debe
                            tener al menos
                            8
                            caracteres, una mayúscula, una minúscula y un número.</small>
                    </div>

                    <div>
                        <label for="password_confirmation"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar
                            contraseña</label>
                        <input type="text" name="password_confirmation" id="password_confirmation"
                            (keyup)="checkPassword(this.user.password, password_confirmation.value)"
                            (ngModel)="this.password_confirmation" #password_confirmation="ngModel"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="********" required="">
                        @if(password.value !== password_confirmation.value && password_confirmation.touched){
                        <small class="text-red-500">Las contraseñas no coinciden.</small>
                        }
                    </div>
                    }


                    @if(codeSend == false){
                    <button (click)="restore(loginForm)" [disabled]="!loginForm.valid || loading"
                        [ngClass]="{'bg-gray-300 hover:bg-gray-300 cursor-not-allowed': !loginForm.valid || loading}"
                        class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Enviar
                        código</button>

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        No estas registrado? <a routerLink="/register"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Registrarme</a>
                    </p>
                    } @else {
                    <button (click)="changePassword()" [disabled]="!loginForm.valid || loading"
                        [ngClass]="{'bg-gray-300 hover:bg-gray-300 cursor-not-allowed': !loginForm.valid || loading}"
                        class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Restablecer
                        contraseña</button>
                    }
                </form>
            </div>
        </div>
    </div>
</section>