<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<section class="title flex flex-col items-center justify-center">
    <h1 class="text-center">Ofertas</h1>
    <h2 class="text-center">Aquí verás las ofertas mas recientes</h2>
</section>

<section class="body-nh2">
    <section class="section-title2 flex flex-col md:flex-row items-center pl-5">
        <div>
            <h1 class="text-center">Ofertas destacadas.</h1>
        </div>
        <div>
            <h2 class="text-center">Ofertas destacadas del mes.</h2>
        </div>
    </section>
    <section class="section1">
        <i id="left" class="left fa-solid fa-angle-left" (click)="onArrowLeftClick($event)"></i>
        <section id="carousel" class="carousel">


            <div *ngFor="let publication of displayedPublications" class="card my-3.5 max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col">
                <a [href]="'/publication/' + publication.id">
                    <div class="image-container">
                        <img class="card-title rounded-t-lg size" [src]="publication.imageUrl" alt="" draggable="false" />
                    </div>
                </a>
                <div class="zona-texto p-5 flex-1 flex flex-col">
                    <a [href]="'/publication/' + publication.id">
                        <h5 class="card-title mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">
                          {{ publication.title.length >= 28 ? (publication.title | slice:0:28) + '...' : publication.title }}
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 fixed-description flex-1 line-clamp-4 overflow-hidden">
                      {{ publication.description ? (publication.description.length > 150 ? (publication.description | slice:0:150) + '...' : publication.description) : '' }}
                    </p>
                    <div>
                        <span class="font-bold text-xl" *ngIf="publication.salary !== null">${{ publication.salary }}</span>
                    </div>
                </div>
                <a [href]="'/publication/' + publication.id" class="button-color inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 self-start mb-6 ml-5">
                    Mas info
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>

        </section>
        <i id="right" class="right fa-solid fa-angle-right" (click)="onArrowRightClick($event)"></i>
    </section>
</section>