.title{
    padding-bottom: 10vh;
    margin-top: 5vh;
}
.title h1{
    font-size: 3em;
    font-weight: 600;
    color: #000000;
}
.title h2{
    font-size: 1.8em;
    font-weight: 400;
    color: #3a3a3a;
}
.carousel{
    margin: 0 auto;
    margin-top: 5vh;
    width: 96%;
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: none;
    padding: 0 30px;
    scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel.dragging{
    scroll-behavior: auto;
}
.carousel.dragging div{
    cursor: grab;
    user-select: none;
}
.card{
    scroll-snap-align: start;
    flex: 0 0 calc(100% / 3 - 12px);
}

.section1{
    margin: 0 auto;
    margin-top: 5vh;
    max-width: 1580px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    box-shadow: none;
    padding: 0 30px;
    padding-bottom: 20vh;
    border-bottom: 1px solid #efefef;
}
.body-nh2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.body-nh2 i{
    height: 60px; /* Set height */
    width: 60px; /* Set width */
    cursor: pointer;
    font-size: 1.5rem; /* Set font size */
    text-align: center;
    line-height: 60px; /* Match the height */
    background: transparent; /* Remove background color */
    color: #000; /* Set icon color */
    border-radius: 50%; /* Make it a circle */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: transform 0.1s linear, background 0.3s;
    z-index: 20;
}
.body-nh2 i:hover{
    background: rgba(0, 0, 0, 0.1); /* Add slight background color on hover */
    cursor: pointer; /* Change cursor to pointer */
}
.body-nh2 i:active{
    transform: scale(1.1);
}
.section-title{
    margin: 0 auto;
    width: 85%;
    font-size: 1.7em;
    font-weight: 400;
    color: #656565;
    margin-bottom: 2vh;
    display: flex; 
}
.section-title2{
    margin: 0 auto;
    width: 85%;
    font-size: 1.7em;
    font-weight: 400;
    color: #656565;
    padding-top: 10vh;
    margin-bottom: 2vh;  
}
.section-title h1{
    color: #000000;
    margin-right: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}
.section-title2 h1{
    color: #000000;
    font-weight: 600;
    letter-spacing: 2px;
}
.button-color{
    background-color: #008fa8;
}
.button-color:hover{
    background-color: #15c3c3;
}
.size{
    min-width: 20rem;
    min-height: 20rem;
    max-width: 20rem;
    max-height: 20rem;
    position: relative;
}
.body-nh{
    border-bottom: 1px solid #efefef;
    padding-bottom: 15vh;
}
.body-nh2{
    padding-bottom: 10vh;
}
.price-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    transition: transform 0.2s;
}

.price:hover {
    transform: scale(1.01);
    cursor: pointer;
}



h5 {
    transition: transform 0.2s;
}

h5:hover {
    transform: scale(1.02);
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.4s; /* Aumenta la duración de la transición */
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/img/trabajoPersonalT.jpg'); /* Ruta de la nueva imagen */
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.4s; /* Aumenta la duración de la transición */
}

.image-container:hover::after {
    opacity: 1;
}

.category:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
}

@media (max-width: 600px) {
    .section1{
        width: 100%;
        margin: none;
        padding: none;
    }
    .body-nh2{
        width: 100%;
        margin: 0;
        padding: none;
    }
    .size{
        min-width: 13rem;
        min-height: 10rem;
        max-width: 13rem;
        max-height: 10rem;
        position: relative;
    }

    .body-nh2 i{
        height: 60px; /* Set height */
        width: 60px; /* Set width */
        cursor: pointer;
        font-size: 1.5rem; /* Set font size */
        text-align: center;
        line-height: 60px; /* Match the height */
        background: transparent; /* Remove background color */
        color: #000; /* Set icon color */
        border-radius: 50%; /* Make it a circle */
        box-shadow: none; /* Add shadow */
        transition: transform 0.1s linear, background 0.3s;
        z-index: 20;
    }
    .body-nh2 i:hover{
        background: transparent; /* Add slight background color on hover */
        cursor: pointer; /* Change cursor to pointer */
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .zona-texto{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}